<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
  <?include $(sys.CURRENTDIR)\Config.wxi?>  
  <Product Id="95f93336-b7a9-4a68-acf5-1492ec0c5d72" Name="PowerQueryNet" Language="1033" Version="1.0.0" Manufacturer="Guillaume Simard" UpgradeCode="115ef465-536f-4030-bd2d-44b0edb1bbe5">
    <Package Id="5e1dc07c-131a-43d4-8a98-4d091537ac0f" InstallPrivileges="elevated" InstallerVersion="100" Compressed="yes" InstallScope="perMachine" Languages="1033" SummaryCodepage="1252" Description="[ProductName]" />        
    <Property Id="ARPHELPLINK" Value="https://github.com/gsimardnet" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>
    <Feature Id="FilesToInstall" Level="1">
      <ComponentGroupRef Id="cgDIR01"/>
      <ComponentGroupRef Id="cgEventSource"/>
      <ComponentGroupRef Id="cgGAC"/>
      <ComponentGroupRef Id="cgLib"/>
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="DIR01" />    
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
  </Product>      
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">        
        <Directory Id="DIR01" Name="PowerQueryNet">
          <Directory Id="lib" Name="lib">
          </Directory>
          <Directory Id="GAC" Name="GAC">
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="cgEventSource" Directory="TARGETDIR">
      <Component Id="EventSource" Guid="0c8fe714-3c04-455f-97f4-e9a1b06bea18" >
        <util:EventSource Log="PowerQueryNet" Name="PowerQueryNet" EventMessageFile="%SystemRoot%\Microsoft.NET\Framework\v2.0.50727\EventLogMessages.dll"/>
      </Component>  
    </ComponentGroup>

    <ComponentGroup Id="cgGAC" Directory="GAC">
      <Component Id="f00" Guid="d28422f9-6a41-4619-a526-9897d5415c70">
        <!-- Registering assembly in GAC -->
        <File Id="f00.01" Name="PowerQueryNet.Client.dll" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Client.dll" KeyPath="yes" Assembly=".net"/>
      </Component>
    </ComponentGroup>    
    
    <ComponentGroup Id="cgDIR01" Directory="DIR01">      
      <Component Id="RegistryEntries" Guid="7300b49c-3d2d-42ce-8af8-d20afa321deb">
        <RegistryKey Root="HKLM" Key="Software\PowerQueryNet" Action="createAndRemoveOnUninstall">
          <RegistryValue Name="ExePath" Type="string" Value="[DIR01]PowerQueryNet.Service.exe"/>
          <RegistryValue Name="IpcAddress" Type="string" Value="net.pipe://localhost/PowerQueryNet/"/>
          <RegistryValue Name="IpcTimeout" Type="string" Value="00:30:00"/>
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Microsoft\.NETFramework\v4.5.1\AssemblyFoldersEx\PowerQueryNet" Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Value="[DIR01]\lib\"/>
        </RegistryKey>
      </Component>      
      <Component Id="f01" Guid="5f6e927b-fb27-4cd3-9b65-97d8dd9bd793">
        <File Id="f01.01" Source="..\..\..\Service\bin\Debug\EnvDTE.dll" KeyPath="no"/>
        <File Id="f01.02" Source="..\..\..\Service\bin\Debug\EnvDTE80.dll" KeyPath="no"/>
        <File Id="f01.03" Source="..\..\..\Service\bin\Debug\KernelTraceControl.dll" KeyPath="no"/>
        <File Id="f01.04" Source="..\..\..\Service\bin\Debug\Microsoft.ApplicationInsights.dll" KeyPath="no"/>
        <File Id="f01.05" Source="..\..\..\Service\bin\Debug\Microsoft.Data.Edm.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.06" Source="..\..\..\Service\bin\Debug\Microsoft.Data.Mashup.dll" KeyPath="no"/>
        <File Id="f01.07" Source="..\..\..\Service\bin\Debug\Microsoft.Data.Mashup.Preview.dll" KeyPath="no"/>
        <File Id="f01.08" Source="..\..\..\Service\bin\Debug\Microsoft.Data.Mashup.ProviderCommon.dll" KeyPath="no"/>
        <File Id="f01.09" Source="..\..\..\Service\bin\Debug\Microsoft.Data.Mashup.ProviderCommon.resources.dll" KeyPath="no"/>
        <File Id="f01.10" Source="..\..\..\Service\bin\Debug\Microsoft.Data.OData.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.11" Source="..\..\..\Service\bin\Debug\Microsoft.Data.OData.Query.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.12" Source="..\..\..\Service\bin\Debug\Microsoft.Data.SapClient.dll" KeyPath="no"/>
        <File Id="f01.13" Source="..\..\..\Service\bin\Debug\Microsoft.Data.SapClient.resources.dll" KeyPath="no"/>
        <File Id="f01.14" Source="..\..\..\Service\bin\Debug\Microsoft.Diagnostics.Tracing.TraceEvent.dll" KeyPath="no"/>
        <File Id="f01.15" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.Container.NetFX40.exe" KeyPath="no"/>
        <File Id="f01.16" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.EventSource.dll" KeyPath="no"/>
        <File Id="f01.17" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.OAuth.dll" KeyPath="no"/>
        <File Id="f01.18" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.OAuth.resources.dll" KeyPath="no"/>
        <File Id="f01.19" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.ScriptDom.dll" KeyPath="no"/>
        <File Id="f01.20" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.Shims.dll" KeyPath="no"/>
        <File Id="f01.21" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.Tools.dll" KeyPath="no"/>
        <File Id="f01.22" Source="..\..\..\Service\bin\Debug\Microsoft.Mashup.Tools.VisualStudio.dll" KeyPath="no"/>
        <File Id="f01.23" Source="..\..\..\Service\bin\Debug\Microsoft.MashupEngine.dll" KeyPath="no"/>
        <File Id="f01.24" Source="..\..\..\Service\bin\Debug\Microsoft.MashupEngine.resources.dll" KeyPath="no"/>
        <File Id="f01.25" Source="..\..\..\Service\bin\Debug\Microsoft.mshtml.dll" KeyPath="no"/>
        <File Id="f01.26" Source="..\..\..\Service\bin\Debug\Microsoft.MSXML.dll" KeyPath="no"/>
        <File Id="f01.27" Source="..\..\..\Service\bin\Debug\Microsoft.OData.Core.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.28" Source="..\..\..\Service\bin\Debug\Microsoft.OData.Edm.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.29" Source="..\..\..\Service\bin\Debug\Microsoft.PowerBI.AdomdClient.dll" KeyPath="no"/>
        <File Id="f01.30" Source="..\..\..\Service\bin\Debug\Microsoft.PowerBI.AdomdClient.resources.dll" KeyPath="no"/>
        <File Id="f01.31" Source="..\..\..\Service\bin\Debug\Microsoft.PowerBI.SPClient.Interfaces.dll" KeyPath="no"/>
        <File Id="f01.32" Source="..\..\..\Service\bin\Debug\Microsoft.Spatial.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.33" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.ComponentModelHost.dll" KeyPath="no"/>
        <File Id="f01.34" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.GraphModel.dll" KeyPath="no"/>
        <File Id="f01.35" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.OLE.Interop.dll" KeyPath="no"/>
        <File Id="f01.36" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.ProjectAggregator.dll" KeyPath="no"/>
        <File Id="f01.37" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.Shell.Framework.dll" KeyPath="no"/>
        <File Id="f01.38" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.Shell.Immutable.10.0.dll" KeyPath="no"/>
        <File Id="f01.39" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.Shell.Interop.8.0.dll" KeyPath="no"/>
        <File Id="f01.40" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.Shell.Interop.9.0.dll" KeyPath="no"/>
        <File Id="f01.41" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.Shell.Interop.dll" KeyPath="no"/>
        <File Id="f01.42" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.TextManager.Interop.8.0.dll" KeyPath="no"/>
        <File Id="f01.43" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.TextManager.Interop.dll" KeyPath="no"/>
        <File Id="f01.44" Source="..\..\..\Service\bin\Debug\Microsoft.VisualStudio.VSHelp.dll" KeyPath="no"/>
        <File Id="f01.45" Source="..\..\..\Service\bin\Debug\msdia140.dll" KeyPath="no"/>        
        <File Id="f01.46" Source="..\..\..\Service\bin\Debug\PRIVATE_ODBC32.dll" KeyPath="no"/>
        <File Id="f01.47" Source="..\..\..\Service\bin\Debug\stdole.dll" KeyPath="no"/>
        <File Id="f01.48" Source="..\..\..\Service\bin\Debug\System.Spatial.NetFX35.dll" KeyPath="no"/>
        <File Id="f01.49" Source="..\..\..\Service\bin\Debug\VSLangProj.dll" KeyPath="no"/>
        <File Id="f01.50" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Client.dll" KeyPath="no"/>
        <File Id="f01.51" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Engine.dll" KeyPath="no"/>
        <File Id="f01.52" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Service.exe" KeyPath="no"/>
        <File Id="f01.53" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Client.pdb" KeyPath="no"/>
        <File Id="f01.54" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Engine.pdb" KeyPath="no"/>
        <File Id="f01.55" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Service.pdb" KeyPath="no"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="cgLib" Directory="lib">      
      <Component Id="f02" Guid="cb86472b-3b9c-42bc-9b8c-1dec2f8d434c">
        <File Id="f02.01" Source="..\..\..\Service\bin\Debug\PowerQueryNet.Client.dll" KeyPath="no"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>